<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtra">
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-progress-bar mode="{{loading ? 'indeterminate':'determinate'}}" value="{{loading ? 0:100}}"></mat-progress-bar>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td> -->
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab color="primary" type="button" (click)="add()" title="Aggiungi nuovo">
          <mat-icon class="md-24">add</mat-icon>
        </button>
        <button mat-icon-button color="primary" type="button" (click)="load()" title="Ricarica i dati">
          <mat-icon class="md-24">replay</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="edit(row)" title="Modifica">
          <mat-icon class="md-24">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(row)" title="Rimuovi">
          <mat-icon class="md-24">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
