table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-id {
  width: 60px;
}

.mat-column-azioni {
  width: 80px;
}

.mat-column-email {
  display: none;
}

@media(min-width:768px) {
  .mat-column-email {
    display: table-cell;
  }
}

@media(min-width:400px) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }
}

@media(max-width:399px) {
  .mobile {
    display: initial;
  }

  .desktop {
    display: none;
  }

  .mat-column-azioni {
    width: 40px;
  }
}